<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Examples</title>

    <!-- SlickGrid -->
    <link rel="stylesheet" href="../bower_components/slickgrid/slick.grid.css" type="text/css"/>

    <!-- JQuery UI-->
    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/smoothness/jquery-ui.css" type="text/css"/>

</head>
<body data-ng-controller="AppCtrl">
<a href="#" ng-click="view=1">Example 1</a>
<a href="#" ng-click="view=2">Example 2</a>
<br/>
<br/>

<div ng-init="view=1" ng-if="view==1">
    Example 1
    <a href="#" ng-click="showHideLastColumn()">Show/Hide last command</a>
    <sa-grid style="border-style: solid; border-width: 1px; margin: 10px; height: 100px;"
             sa-grid-columns="columns"
             sa-id-property="idProperty"
             sa-grid-options="options"
             sa-data-source="rows"></sa-grid>
</div>
<div ng-if="view==2">
    Example 2
</div>

<script data-main="init" src="../bower_components/requirejs/require.js"></script>
</body>
</html>